body{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px auto 50px;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}

nav{
    grid-area: nav;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
    display:grid;
    grid-template-rows: auto auto;

}
main>section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 1px solid pink;
    grid-gap:10px;
}

main>section:first-of-type{
    grid-template-columns: 60% 40%;
}
footer{
    grid-area: footer;
}

nav > ul{
    display: grid;
    padding: 0;
    margin: 0;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
}

nav li{
    text-align: center;
    background-color: antiquewhite;
    line-height: 2.5;
}

nav a{
    text-decoration: none;
}